<h1 md-dialog-title i18n="@@newCourse">Nova disciplina</h1>
<form [formGroup]="courseForm" (ngSubmit)="save()">
  <div md-dialog-content fxLayout="column">
    <md-form-field>
      <md-placeholder i18n="@@name">Nome</md-placeholder>
      <input formControlName="name" mdInput name="name" [(ngModel)]="course.name" required>
    </md-form-field>
    <md-form-field>
      <md-placeholder i18n="@@description">Descrição</md-placeholder>
      <input formControlName="description" mdInput name="description" [(ngModel)]="course.description" required>
    </md-form-field>
  </div>
  <div md-dialog-actions>
    <button type="submit" md-button i18n="@@save">Salvar</button>
  </div>
</form>
