<div class="fixed-toolbar-container">
  <md-sidenav-container style="height:100%;width:100%;">
    <md-sidenav #sidenav style="width: 200px">
      <span i18n="@@hello">Olá!</span>
    </md-sidenav>

    <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>
    </md-toolbar>

    <div class="inner-sidenav-content">
      <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between" style="padding: 0 20px">
        <md-card *ngFor="let class of classes | async" fxFlex.xs=100 fxFlex.sm=48 fxFlex.md=32 fxFlex.gt-md=24 style="margin: 10px 0">
          <md-card-title-group>
            <md-card-title>{{ class.name }}</md-card-title>
          </md-card-title-group>
          <md-card-content>Hola</md-card-content>
        </md-card>
      </div>
    </div>
  </md-sidenav-container>
</div>
