<div class="fixed-toolbar-container">
  <md-sidenav-container style="height:100%;width:100%;">
    <md-sidenav #sidenav style="width: 200px">
      <span i18n="@@hello">Olá!</span>
    </md-sidenav>

    <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>
    </md-toolbar>

    <div class="inner-sidenav-content">
      <div fxLayoutWrap class="class-container">
        <md-card *ngFor="let class of courses | async" ngStyle.xs="width: 100%">
          <md-card-title-group>
            <md-card-title>{{ class.name }}</md-card-title>
          </md-card-title-group>
          <md-card-content>Hola</md-card-content>
        </md-card>
      </div>
    </div>
    <button class="bottom-right" md-fab color="warn" (click)="createCourse()"><md-icon>add</md-icon></button>
  </md-sidenav-container>
</div>
